colors:
  primary:
    background: '{{ bg }}'
    foreground: '{{ fg }}'

  normal:
    black:   '{{ dark }}'
    red:     '{{ red }}'
    green:   '{{ green }}'
    yellow:  '{{ yellow }}'
    blue:    '{{ blue }}'
    magenta: '{{ purple }}'
    cyan:    '{{ accent }}'
    white:   '{{ light }}'

  bright:
    black:   '{{ dark }}'
    red:     '{{ red }}'
    green:   '{{ green }}'
    yellow:  '{{ yellow }}'
    blue:    '{{ blue }}'
    magenta: '{{ purple }}'
    cyan:    '{{ accent }}'
    white:   '{{ light }}'

