$bg = rgba({{ bg[1:] }}ff)
$fg = rgba({{ fg[1:] }}ff)
$accent = rgba({{ accent[1:] }}ff)
$border = rgba({{ border[1:] }}ff)
$shadow = rgba({{ shadow[1:] }})

general {
  col.active_border = $accent
  col.inactive_border = $border
}

