set previewer true
set preview_clean true
set scrolloff 5

set colorscheme default

# Custom UI colors
set infofmt '{{ fg }}'
set cursorfmt '{{ accent }}'
set borderfmt '{{ border }}'
set errorfmt '{{ red }}'
set promptfmt '{{ yellow }}'
set titlefmt '{{ accent }}'

