COLORS = {
    "bg": '{{ bg }}',
    "bg_alt": '{{ bg_alt }}',
    "fg": '{{ fg }}',
    "accent": '{{ accent }}',

    "dark": '{{ dark }}',
    "light": '{{ light }}',

    "red": '{{ red }}',
    "green": '{{ green }}',
    "yellow": '{{ yellow }}',
    "blue": '{{ blue }}',
    "purple": '{{ purple }}',
    "orange": '{{ orange }}',

    "border": '{{ border }}',
    "text_primary": '{{ text_primary }}',
    "text_secondary": '{{ text_secondary }}',
    "shadow": '{{ shadow }}',
}
