* {
  background: {{ bg }};
  foreground: {{ fg }};
  border-color: {{ border }};
  selected-background: {{ accent }};
  selected-foreground: {{ bg }};
  separatorcolor: {{ bg_alt }};
}

window {
  background-color: {{ bg }};
  border-color: {{ accent }};
}

element selected {
  background: {{ accent }};
  foreground: {{ bg }};
}

