* {
  background-color: {{ bg }};
  color: {{ fg }};
  border: none;
  font-family: JetBrainsMono Nerd Font;
}

#clock, #cpu, #memory, #battery {
  background: {{ bg_alt }};
  color: {{ text_primary }};
  padding: 4px 10px;
  margin: 4px;
  border-radius: 4px;
}

#workspaces button.active {
  background-color: {{ accent }};
  color: {{ bg }};
}

